.container{
    display: flex;
    width: 80px;

    height: 80vh;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    padding: 20px 24px;

    background-color: #1f1f1f; 

    &__home{
        gap: 12px;
        padding: auto;
    }

    &__projects{
        gap: 12px; 
    }
} 