.container{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background-color: #f5f5f5;
    border-radius: 15px;

    &__onBoarding{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 20%;

        &__title{
            font-size: 28px; 
            font-weight: 700;
            color: #454545;
            gap: 20px;
        }

        &__option{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            gap: 8px;
            font-size: 18px;
            color: #666666
        }
    }
}